.alibiTechWidgetContainer {
  display: inline;
  width: 100%;
}

.alibiTechWidgetFilmStrip {
  display: flex;
  margin: auto;
  height: 380px !important;
  width: 1200px !important;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.alibiTechWidgetFilmStrip::-webkit-scrollbar {
  display: none;
}

.alibiTechWidgetFilmStripAndPlayer {
  display: flex;
  margin: auto;
  height: 1060px !important;
  width: 1200px !important;
  overflow-y: visible;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.alibiTechWidgetFilmStripAndPlayer::-webkit-scrollbar {
  display: none;
}
